html{height:100%;}
body{height:100%;background-color:#999;}
button.evtri,button.chtri{width:100%;}
.yellowzone button{background-color:#ffa;color:#000;}
.bluezone button{background-color:#aaf;color:#000;}
.yellowzone .score{background-color:#000;color:#ff0;}
.bluezone .score{background-color:#000;color:#00f;}
/* made to be calculater by JS */
.fillheight{height:100%;}

/** JUDGE PANE */

/* JUDGE PANE > counters div */
#counters{
    height:50px;
    font-size: 3em;
}
#counters div{
    text-align:center;
}
#counters .score{
    font-weight:bold;
}

#counters .commonzone{
    background-color:#bbb;
}
#counters .commonzone .clock{
}
#counters .commonzone .clock.visible-xs{
}
#counters .yellowzone{
    background-color:#000;
}
#counters .bluezone{
    background-color:#000;
}


/* JUDGE PANE > clickers div */
#clickers {font-size: 3em;}
#clickers div{height:100%;}
#clickers button{height:100%;}
#clickers button[data-etype="touch"]{height:70%}
#clickers button[data-etype="remtouch"]{height:30%}
#clickers .commonzone button{height:30%}
#clickers .yellowzone button[data-etype="touch"]{background-color:#ff5;}
#clickers .bluezone button[data-etype="touch"]{background-color:#77f;}

/** VOTE PANE */
#voteview {font-size: 3em;font-weight: bold;}
#voteview #votecolor{height:25%;}
#voteview #votevalue{height:75%;}
#voteview div {height:100%}
#voteview .btn-group{width:100%}
#voteview .btn-group-vertical {width:80%;margin:0 10%;}
#voteview #votecolor button {height:100%;width:50%;}
#voteview #votevalue button {height:32%;width:100%;}

#voteview #votecolor button.yellow:hover,#voteview #votecolor button.yellow.active{background-color:#ff5;color:#000;}
#voteview #votecolor button.blue:hover,#votFeview #votecolor button.blue.active{background-color:#77f;color:#000;}
#voteview #votevalue button.yes:hover,#voteview #votevalue button.yes.active{background-color:#0f0;color:#000;}
#voteview #votevalue button.no:hover,#voteview #votevalue button.no.active{background-color:#f00;color:#000;}
#voteview #votevalue button.maybe:hover,#voteview #votevalue button.maybe.active{background-color:#888;color:#000;}
/** MARK PANE */
#markview div{height:100%;}
#markview button,#markview .score{height:20%;}
#markview .score{font-size:30px;text-align:center;vertical-align:middle;}
/** SETTINGS PANE */
/** LOGS  PANE */
#logs{background:red;color:white;font-size:14px;}
/** DETAILS PANE */
#detailsview .row,#detailsview .btn-group-vertical{height:100%;}
#detailsview button{height:17%;}
