html{height:100%;}
body{height:100%;background-color:#999;}
button.evtri,button.chtri{width:100%;}
.yellowzone button{background-color:#ffa;color:#000;}
.bluezone button{background-color:#aaf;color:#000;}
.yellowzone .score{background-color:#000;color:#ff0;}
.bluezone .score{background-color:#000;color:#00f;}
/* made to be calculater by JS */
.fillheight{height:100%;}

/** JUDGE PANE */

/* JUDGE PANE > counters div */
#counters{
    height:50px;
    font-size:40px;
}
#counters div{
    text-align:center;
}
#counters .score{
    font-weight:bold;
}

#counters .commonzone{
    background-color:#bbb;
}
#counters .commonzone .clock{
}
#counters .commonzone .clock.visible-xs{
}
#counters .yellowzone{
    background-color:#000;
}
#counters .bluezone{
    background-color:#000;
}


/* JUDGE PANE > clickers div */
#clickers {font-size:40px;}
#clickers div{height:100%;}
#clickers button{height:100%;}
#clickers form{height:50%;}
#clickers .commonzone form{height:30%;}
#clickers .yellowzone button[data-etype="touch"]{background-color:#ff5;}
#clickers .bluezone button[data-etype="touch"]{background-color:#77f;}

/** VOTE PANE */
#voteview #votecolor{height:25%;}
#voteview #votevalue{height:75%;}
#voteview div {height:100%}
#voteview .btn-group{width:100%}
#voteview .btn-group-vertical {width:80%;margin:0 10%;}
#voteview #votecolor button {height:100%;width:50%;}
#voteview #votevalue button {height:32%;width:100%;}

#voteview button {background-color:#222;color:#fff;font-weight: bold;}
#voteview #votecolor button.yellow{color:#ff5;}
#voteview #votecolor button.blue{color:#77f;}
#voteview #votevalue button.yes{color:#0f0;}
#voteview #votevalue button.no{color:#f00;}
#voteview #votevalue button.maybe{color:#888;}

#voteview #votecolor button.yellow:hover,#voteview #votecolor button.yellow:focus{background-color:#ff5;color:#000;}
#voteview #votecolor button.blue:hover,#voteview #votecolor button.blue:focus{background-color:#77f;color:#000;}
#voteview #votevalue button.yes:hover,#voteview #votevalue button.yes:focus{background-color:#0f0;color:#000;}
#voteview #votevalue button.no:hover,#voteview #votevalue button.no:focus{background-color:#f00;color:#000;}
#voteview #votevalue button.maybe:hover,#voteview #votevalue button.maybe:focus{background-color:#888;color:#000;}
/** MARK PANE */
#markview button{height:100%;}
#markview div{height:100%;}
#markview form,#markview .score{height:20%;}
#markview .score{font-size:30px;text-align:center;vertical-align:middle;}
/** SETTINGS PANE */
/** LOGS  PANE */
#logs{background:red;color:white;font-size:14px;}
